In [7]:
from nltk.tokenize import word_tokenize

In [25]:
sentence_1 = "It is a good practice for us."
sentence_2 = "It was also good to know about it."

In [29]:
lst1 = [word.lower() for word in word_tokenize(sentence_1)] # if  word.isalnum()] Only words
lst2 = [word.lower() for word in word_tokenize(sentence_2)] # if  word.isalnum()]

final = set(lst1 + lst2)
final

{'.',
 'a',
 'about',
 'also',
 'for',
 'good',
 'is',
 'it',
 'know',
 'practice',
 'to',
 'us',
 'was'}

In [27]:
count1 = []
count2 = []

for word in final:
    count1.append(lst1.count(word))
    count2.append(lst2.count(word))

In [34]:
import pandas as pd
df = pd.DataFrame({'Count 1': count1,
                   'Count 2 ': count2}, 
                   index=list(final))
df.T

          is  about  to  .  practice  it  was  us  good  also  for  a  know
Count 1    1      0   0  1         1   1    0   1     1     0    1  1     0
Count 2    0      1   1  1         0   2    1   0     1     1    0  0     1

In [35]:
from sklearn.feature_extraction.text import CountVectorizer

In [36]:
cvt = CountVectorizer()

In [38]:
new_data = cvt.fit_transform([sentence_1, sentence_2])
new_data

<2x11 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [39]:
new_data.toarray()

array([[0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0],
       [1, 1, 0, 1, 0, 2, 1, 0, 1, 0, 1]], dtype=int64)

In [40]:
cvt.get_feature_names_out()

array(['about', 'also', 'for', 'good', 'is', 'it', 'know', 'practice',
       'to', 'us', 'was'], dtype=object)

In [45]:
df = pd.DataFrame(data=new_data.toarray(),
                   columns=cvt.get_feature_names_out())
df

   about  also  for  good  is  it  know  practice  to  us  was
0      0     0    1     1   1   1     0         1   0   1    0
1      1     1    0     1   0   2     1         0   1   0    1

N-Gram

In [62]:
cvt = CountVectorizer(ngram_range=(2,2)) # (1,2)-> unigram and bigram | (2,2)-> Only bigram |

In [63]:
new_data = cvt.fit_transform([sentence_1, sentence_2])
new_data

<2x12 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [64]:
new_data.toarray()

array([[0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0],
       [1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1]], dtype=int64)

In [65]:
cvt.get_feature_names_out()

array(['about it', 'also good', 'for us', 'good practice', 'good to',
       'is good', 'it is', 'it was', 'know about', 'practice for',
       'to know', 'was also'], dtype=object)

In [66]:
df = pd.DataFrame(data=new_data.toarray(),
                   columns=cvt.get_feature_names_out())
df.T

               0  1
about it       0  1
also good      0  1
for us         1  0
good practice  1  0
good to        0  1
is good        1  0
it is          1  0
it was         0  1
know about     0  1
practice for   1  0
to know        0  1
was also       0  1